body {
    background-color: chartreuse;
}
h1 {
    background-color: cornsilk;
    color: darkblue;
}

#show_sketch 
{float:right; 
margin-top: 5px;
margin-bottom: 5px;}

p {
    padding-top: 10px;
    font-size: 25px;
}

canvas{
    border: 10px solid cornflowerblue;
    border-radius:10px ;
    animation-name : example;
    animation-duration: 2s;
    margin-top: 50px;
    animation-iteration-count:infinite ;
}

@keyframes example{

    from{box-shadow: 1px 1px 40px purple;}
    to{box-shadow:1px 1px 40px darkblue ;}
    
}

